body{
    display: flex;
    flex-direction: row;
}

.content{
    margin-left: var(--app-menu-width);
    width: 100%;
    transition: var(--app-menu-transition);
}

.content-c{
    margin-left: var(--app-menu-c-width);
    width: 100%;
    transition: var(--app-menu-transition);
}