<body [ngClass]="{'body' : !navContraida, 'body-c' : navContraida}">

    <div [ngClass]="{'titulo' : !navContraida, 'titulo-c' : navContraida}">
        <h1 *ngIf="!navContraida">APP DO DOT</h1>
    </div>

    <div class="profile">
        <img src="assets/avatar/1.svg" alt="avatar">
        <h2 *ngIf="!navContraida" >{{nome}}</h2>
        <h3>{{username}}</h3>
    </div>

    <div [ngClass]="{'itens-menu' : !navContraida, 'itens-menu-c' : navContraida}">
        <ul [ngClass]="{'ul' : !navContraida, 'ul-c' : navContraida}">
            <li *ngFor="let item of menuItens">
                <a [ngClass]="{'itemSelecionado': item.selecionado , 'a-c' : navContraida}" 
                (click)="selecionaItem(item)">
                    <i class={{item.icone}}></i>
                    <span *ngIf="!navContraida" >{{item.texto}}</span>
                </a>
            </li>
        </ul>
    </div>

    <footer [ngClass]="{'footer' : !navContraida, 'footer-c' : navContraida}" (click)="logout()">
        <span *ngIf="!navContraida" >Sair</span>
        <i class="pi pi-upload"></i>
    </footer>

</body>