<body [ngClass]="{'body' : !navContraida, 'body-c' : navContraida}">

    <div [ngClass]="{'titulo' : !navContraida, 'titulo-c' : navContraida}">
        <h1 *ngIf="!navContraida">APP DO DOT</h1>
    </div>

    <div class="profile">
        <img src="assets/avatar/1.svg" alt="avatar">
        <h2>{{nome}}</h2>
        <h3>{{username}}</h3>
    </div>

    <div class="itens-menu">
        <ul>
            <li *ngFor="let item of menuItens">
                <a [ngClass]="{'itemSelecionado': item.selecionado}" (click)="selecionaItem(item)">
                    <i class={{item.icone}}></i>
                    <span>{{item.texto}}</span>
                </a>
            </li>
        </ul>
    </div>

</body>