<body>
    <div class="login-container">

        <div class="titulo">
            <h1>CRUD DO DOT</h1>
        </div>

        <div class="sub-titulo">
            <h2>ENTRAR</h2>
            <span>Insira suas credenciais para acessar sua conta</span>
        </div>

        <form (ngSubmit)="submit()" [formGroup]="formModel" #formDir="ngForm">

            <div class="form-group">
                <label for="username" >Username</label>
                <input type="text" formControlName="username" placeholder="Digite seu nome de usuário" pInputText />
            </div>

            <div class="form-group">
                <label for="senha" >Senha</label>
                <input type="password" formControlName="password" placeholder="Digite sua senha" pInputText />
            </div> 

            <button pButton type="submit" label="Entrar" class="p-button-warning"></button>

        </form>

        <a style="width: 100%;" href="/cadastro">
        <button pButton label="Cadastrar" class="p-button-secondary"></button>
        </a>

        <div class="recuperar-senha">
            <span>Esqueceu sua senha? </span>
            <span class="span-senha" >Redefinir senha</span>
        </div>

    </div>

</body>
<p-toast position="top-center"></p-toast>