<body>
    <form (ngSubmit)="submit()" [formGroup]="formModel" #formDir="ngForm">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input formControlName="nome" type="text" pInputText />
        </div>

        <div class="form-group" style="margin-bottom: 150px;">
            <label for="cor">Cor</label>
            <p-colorPicker [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" formControlName="cor" format="hex"></p-colorPicker>
        </div>
        
        <button type="submit" pButton label="Salvar"></button>
    </form>
</body>